body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1e1e1e;
}

.viewPort {
  margin: 0;
  padding: 0;  
  width: 100vw;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* background-color: rgba(57, 57, 151, 0.4); */
}

.imagesContainer {
  margin: 0;
  padding: 0;
  width: inherit;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.touchArea {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.navButtonsContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 99999;
}

.navButton {
  width: 30%;
  height: auto;
  pointer-events: all;
  opacity: 0.5;
  cursor: pointer;
  padding: 5px;
}

.navButton:hover {
  transition: 0.5s;
  opacity: 1;
  padding: 0px;
}

.selectionButtonsContainer {
  margin: 0;
  padding: 0;
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  pointer-events: none;
  z-index: 9999;
}

.selectionButton {
  margin-right: 7.5px;
  margin-left: 7.5px;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 5%;
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  pointer-events: all;
  cursor: pointer;
}

.selectionButton:hover {
  padding: 0 1%;
  transition: 0.3s;
  opacity: 1;
}

.card {
  width: 90%;
  height: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardImg {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
